body {
  font-family: "vazir";
  text-align: center;
  background-color: #fff8e1;
}
h1 {
  color: #3989a5;
}
#input {
  width: 300px;
  height: 25px;
  color: #3c97ff;
  font-weight: 500;
  font-size: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  direction: rtl;
  padding: 4px;
  border: 2px solid #40a2c6;
}

.button {
  background-color: #3c97ff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  font-size: large;
}
ul {
  list-style-type: none;
  padding: 0px;
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

li {
  background-color: #f3d5ad;
  padding: 10px;
  margin-left: 341px;
  margin-right: 222px;
  border: 1px solid #ddd;
  text-align: right;
  direction: rtl;
  display: flex;
  gap: 15px;
  border-radius: 6px;
}

ul.list li {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3c97ff;
}

button:hover {
  background-color: #f3d5ad;
  color: #915d1a;
}

li.completed {
  color: gray;
  text-decoration: line-through;
}
